<h2>一大波美女袭来！</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>描述</th>
      <th>管理</th>
      <th>所有者</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "group-titem", :collection => @groups, :as => :group %>
  </tbody>
</table>
